<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add Pilot</title>
	</head>
	
	<body>
		<h2>Informasi Pilot</h2>
		
		<h3 th:text="'Pilot License Number: ' + ${pilot.licenseNumber}"></h3>
		<h3 th:text="'Name: ' + ${pilot.name}"></h3>
		<h3 th:text="'Fly Hour: ' + ${pilot.flyHour}"></h3>
		<td><a th:href="@{/flight/add/{licenseNumber}(licenseNumber=${pilot.licenseNumber})}">Add Flight</a></td>
		
		<h2>Daftar Flight yang terdaftar untuk Pilot ini</h2>
		
		<div th:each="flight : ${pilotFlight}">
			<h3 th:text="${flight.id}"></h3>
			<h3 th:text="${flight.flightNumber}"></h3>
			<h3 th:text="${flight.origin}"></h3>
			<h3 th:text="${flight.destination}"></h3>
			<h3 th:text="${flight.time}"></h3>
		</div>
	</body>
</html>